<div class="my_profile mt-3 mr-3">

<h1>Bienvenue <%= @user.nickname %> !</h1>
Mettre photo avatar user
<br>
<%# <p>Ma bio : <%= @user.description %></p>
<h3>Mes infos personnelles :</h3>
<p><%= @user.email %></p>
<br>

<h3>Mes followers:</h3>
<%# <%= @user.followers %>
</div>
