<div class="my_profile mt-3 mr-3">

<h1>Bienvenue <%= @user.nickname %> !</h1>
<br>
<%# <p>Ma bio : <%= @user.description %></p>
<h2>Mes infos personnelles :</h2>
<p><%= @user.email %></p>
<br>

<h2>Mes followers:</h2>
<%# <%= @user.followers %>
</div>
