<div class="container">
  <br>
  <div class="card-show-head h1">Bienvenue <%= @user.nickname %> !</div>
  <br>
  <h3>Mes infos personnelles :</h3>
  <p><%= @user.email %></p>
  <br>

  <h3>Mes followers :</h3>
  <ul>
    <% @user.followers.each do |follower| %>
    <li><%= follower.nickname %></li>
    <% end %>
  </ul>


  <h3>Suvis</h3>
  <ul>
    <% @user.followeds.each do |followed| %>
    <li><%= followed.nickname %></li>
    <% end %>
  </ul>
</div>
