<div class="bg-sand feed-wrapper hide-scrollbar">
  <div class="card-show-head">
    <div class="card-show-head">
    <div class="banner-feed"><h1 class="mt-5">Bon retour <%= @current_user.nickname%> !</h1>
    </div>
  </div>
  <div class="container my-3">
    <div class="feed" data-controller="feed-subscription" data-feed-subscription-user-id-value="<%= current_user.id %>">

      <h1>Votre communauté</h1>
      <div class="feed-cards"
        data-feed-subscription-target="messages"
        data-controller="like-subscription"
        data-like-subscription-user-id-value="<%= current_user.id %>"
      >
        <% @feed.first(10).each do |feed_element| %>
            <%= render partial: "shared/feed_card_#{feed_element.feed_content[:type]}", locals: {
              instance: feed_element.feed_content[:instance]
            } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
