<div class="bg-sand feed-wrapper">
  <div class="card-show-head">
    <h1 class="mt-5">Bon retour <%= @current_user.nickname%> !</h1>
  </div>
  <div class="container my-3">
    <div class="feed" data-controller="feed-subscription" data-feed-subscription-user-id-value="<%= current_user.id %>">
      <h2>Votre communauté</h2>
      <div class="feed-cards" data-feed-subscription-target="messages">
        <% @feed.first(10).each do |feed_element| %>
            <%= render partial: "shared/feed_card_#{feed_element.feed_content[:type]}", locals: {
              instance: feed_element.feed_content[:instance]
            } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
