<h1>Feeds#index</h1>
<p>Find me in app/views/feeds/index.html.erb</p>
<% render "shared/navbar" %>
<ul>
  <%# @feed.first(10).each do |feed_element| %>
    <%# content = feed_element.feed_content %>
    <%# if content[:description].present? %>
      <%# <li><%= content[:description] %>
    <%# end %>
    <%# if content[:image_tag].present? %>
      <li><%#= cl_image_tag content[:image_tag] %></li>
    <%# end %>
  <%# end %>
</ul>

<ul>
  <% @feed.first(10).each do |feed_element| %>
      <%= render partial: "shared/feed_card_#{feed_element.feed_content[:type]}", locals: {
        instance: feed_element.feed_content[:instance]
      } %>
  <% end %>
</ul>
