<div class="container my-3">

<div class= "map-container">
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <%= render 'shared/searchbar' %>
</div>

  <h1>Votre communauté</h1>

    <% @feed.first(10).each do |feed_element| %>
        <%= render partial: "shared/feed_card_#{feed_element.feed_content[:type]}", locals: {
          instance: feed_element.feed_content[:instance]
        } %>
    <% end %>

</div>
