// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$blue-800: #1B4B69;
$blue-600: #52768D;
$blue-500: #7DA1B8;
$blue-200: #D8E3EA;
$blue-100: #F9F9F9;
$light-beige: #F7F2E9;
$sable: #F3D6AC;
$orange: #F76631;
$star-yellow: #FFC463;
$green: #22C55D;

.bg-sand {
  background-color: $light-beige;
}
