// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

// Define fonts for body and headers
$body-font: "Kumbh Sans", sans-serif;
$headers-font: "Kumbh Sans", sans-serif;



h1 {
  font-size: 35px;
  line-height: 100%;
}

h2 {
  font-size: 18px;
  line-height: 110%;
}

h3 {
  font-size: 16px;
  line-height: 130%;
}

.bold {
  font-weight: bold;
}

p {
  font-size: 14px;
  line-height: 150%;;
}

.text-small {
  font-size: 12px;
  line-height: 150%;;
}

.overtitre {
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 100%;
}

a {
  text-decoration: none;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
