<div class="popup-info card-product">
  <%= link_to spot_path(spot) do %>
    <h3><%= spot.name %></h3>
    <p><%= spot.city %></p>
    <%= cl_image_tag spot.photo.key, class:"card-spot-photo-small" %>
  <% end %>
</div>
</div>
