<div class="favorites-spots bg-sand">
  <div class="card-show-head h1">Mes <%= @spots.count %> Spots Favoris</div>
  <%= render "shared/navbar" %>


  <div class="map-spots">
    <div class="popup-favorites">
      <%= render partial: "shared/map" %>
    </div>
  </div>
</div>
