.spot-photo {
  height:280px;
  width: 100%;
}

.spot-body {
  padding:16px;
}

.spot-body {
  position: relative;

  .favorite-button {
    position: absolute;
    right: 20px;
    top: -60px;
  }
}

.tabs-underlined {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.tabs-underlined .tab-underlined {
  color: $blue-500;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  font-weight: medium;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
  color: $blue-800;
  font-weight: bold;
}


.spot-review-form {
  border-radius:$border-radius-lg;
  background: $blue-100;
  border:1px solid $blue-200;
  padding:24px;
  text-align: center;
  textarea {
    min-height: 160px;
    padding: 20px;
  }
}

.spot-show-meteo-days {
  display: flex;
  gap: 8px;
  overflow-x: scroll;
  margin: 16px 0;
}


.spot-details {
  background: $blue-100;
  padding:16px;
  height:217px;
  overflow: hidden;
  transition:1s;
}

.spot-details-open {
  height:960px;
}

.spot-details-weather-cards {
  display:flex;
  gap:12px;
  .card-category {
    flex: 1;
  }
}

.spot-weather-details {
  padding:16px 0;
  flex-direction: column;
  gap:16px;
  display: flex;


  .spot-weather-details-meteo, .spot-weather-details-wind {
    display: flex;
    flex-direction: column;
    gap:8px;
    padding:16px;
    background:$white;
    border:1px solid $blue-200;
    border-radius:$border-radius;
  }
}

.spot-weather-details-grid {
  display:flex;
  gap:12px;
  div {
    width: 72px;
  }
}

.weather-wind-icon {
  width: fit-content !important;
  transform-origin: center center;
  margin: 0 auto;

  img {
    width:32px;
  }
}

.card-category-tide, .card-category-wind {
  width:64px;
  height:64px;
}

.card-category-wind {
  display: flex;
  justify-content: center;
  align-items: center;
}
