.card-body {
  position: relative;

  .favorite-button {
    position: absolute;
    right: 20px;
    top: -60px;
  }
}

.tabs-underlined {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.tabs-underlined .tab-underlined {
  color: $blue-500;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  font-weight: medium;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
  color: $blue-800;
  font-weight: bold;
}
