 <div class="card mb-3 position-relative">
    <%= cl_image_tag @spots.first.photo.key %>
    <div class="weather-over">
      <p class="weather-details">16°C | <%= image_tag('icons/sun.svg') %> | 2 km/h</p>
    </div>
    <div class="card-body d-flex flex-column">
      <div class="d-flex justify-content-between">
        <h3>La super plage</h3>
        <div class="d-flex align-items-center">
          <p class="mx-1">4.8</p>
          <%= image_tag('icons/star-fill.svg') %>
        </div>
      </div>
        <p class="mb-2">5 chemin des gravier</p>
      <div class="d-flex justify-content-between">
      <div class="d-flex flex-column">
        <p class="overtitre" >DISTANCE</p>
        <p>5 km</p>
      </div>
      <div>
        <p class="overtitre">DÉBUTANT</p>
      </div>
      </div>
    </div>
  </div>
