  <div class="feed-card">
    <%#= cl_image_tag instance.user.avatar.key %>
      <img src="https://picsum.photos/200/300" alt="Photo de l'utilisateur" class="avatar">
    <div class="feed-content">
      <span class="text-small text-blue-500"><%= instance.created_at %></span>
      <p class="review-description"><span class="bold"><%= instance.user.nickname %></span> a posté une nouvelle photo de <span class="bold"><%= instance.spot.name %></span></p>
      <br>
      <img src="https://picsum.photos/200/300" alt="nouvelle photo de la plage de Trebeurden" class= "new-photo">
    </div>
