  <div class="feed-card">
    <img src="https://picsum.photos/200/300" alt="Photo de l'utilisateur" class="avatar">
    <div class="feed-content">
      <span class="text-small">Il y a 5 jours</span>
      <p><span class="bold">Thierry</span> a surfé à <span class="bold">Plage de Trebeurden</span></p>
    </div>
  </div>
