 <div class="feed-card">
    <div class="avatar shaka-avatar">
      <%= image_tag('icons/shaka-white')%>
    </div>
    <div class="feed-content">
      <span class="text-small text-blue-500"><%= instance.created_at %></span>
      <p><span class="bold">Conditions optimales</span> à <span class="bold"><%= instance.spot.name %></span></p>
    </div>
  </div>
