 <nav class="navbar navbar-light bg-light fixed-bottom">
    <div class="container-fluid">
    <%= link_to (image_tag('icons/home.svg')), feed_path %>
    <%= link_to (image_tag('icons/heart.svg')),favorites_path %>
    <%= link_to (image_tag('icons/search.svg')), spots_path %>
    <%= link_to (image_tag('icons/profile.svg')), profile_path %>
    </div>
  </nav>
