
<div class="row justify-content-center mb-3">
  <%# <div class="col-sm-8 my-3"> %>
    <%= form_with url: spots_path, method: :get, class: "simple_form search ", novalidate: "novalidate"  do %>
      <div class="search-form-control form-group">
      <%= text_field_tag :search,
            params[:search],
            class: "form-control string required rounded-pill",
            placeholder: "Rechercher un spot ou une ville"
        %>
        <button type="submit" class="btn btn-flat rounded-circle">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <% end %>
  <%# </div> %>
</div>
