
<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: spots_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :search,
            params[:search],
            class: "form-control",
            placeholder: "Rechercher un spot ou une ville"
        %>
      <%= submit_tag "Recherche", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
