<% @marine_weather.first.each do |key, value| %>
  <% if DateTime.parse(key["time"]).hour == Time.zone.now.hour %>
    <h4><div class="bold"><%= "#{key["windSpeed"]["noaa"]}" %> Km/h</div></h4>
  <% end %>
<% end %>
