<div class="video-banner">
<video autoplay loop class="video-banner">
<source src="Home-video.webm" type="video/webm">
<source src="https://www.youtube.com/watch?v=fK4IRgZUkZ0" type="video/mp4">
</video>
</div>

<div class="video-banner">
    <h1>Headline</h1>
    <h2>Subheading Content</h2>
    <a href="#" class="button">Click me!</a>
  </div>
</div>
  <%= render 'shared/searchbar' %>
<h1>Spot the Wave</h1>
  <div id="carouselExampleControls" class="carousel slide mb-3" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
      </div>
      <div class="carousel-item">
      </div>
      <div class="carousel-item">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h1>Où voulez-vous surfer ?</h1>
