.avatar {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  border: $blue-800 1px solid !important ;
  background-color: white;
  display:flex;
  align-items: center;
  justify-content: center;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.shaka-avatar {
  background-color: $green;
  display:flex;
  align-items: center;
  justify-content: center;

  img {
    animation: rotateShake 1s infinite alternate-reverse;
    animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550)  ;
  }
}

@keyframes rotateShake {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
