.btn {
  background-color: $blue-800;
  color: $white;
  border-radius:80px;
  padding:12px 24px;
}

.back-button {
  font-size: 12px;
  text-transform: uppercase;
  color: $light-beige;
  font-weight: bold;
  letter-spacing: 2px;
  word-spacing: 4px;
  position: absolute;
  top: 12px;
  left: 12px;

  }

  .btn-secondary {
    background-color: $blue-200;
    color:$blue-800;
    border:none;
  }
