.card-spot-summary {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-spot-summary img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-spot-summary h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $blue-800
}

.card-spot-summary p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: $blue-600;
}


.card-spot-summary .card-spot-summary-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-spot-summary-infos .card-spot-summary-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.weather-over {
  position: absolute;
  top: 212px;
  right: 8px;
  background-color: $blue-100;
  padding: 10px;
  border-radius: 5px;
  color: $blue-500;
}



.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
