.card {
  overflow:hidden;
  padding:0;
  transition:0.3s;
}

.card:active {
  transform: scale(0.95);
}

.card-spot-summary {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-spot-summary img {
  height: 200px;
  width: 100%;
  object-fit:cover;
}

.card-spot-summary h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $blue-800
}

.card-spot-summary p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: $blue-600;
}

.card-spot-summary .card-spot-summary-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-spot-summary-infos .card-spot-summary-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.weather-over {
  position: absolute;
  top: -60px;
  right: 8px;
  background-color: $blue-100;
  padding: 10px;
  border-radius: 5px;
  color: $blue-500;
  .info-window{
    top: -40px !important;
    padding: 0px !important;
    .span {
      font-size: 12px !important;
    }
  }
}


.card-product {
  overflow: hidden;
  background: white;
  height:172px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap:12px;
  padding-right: 8px;

  .card-product-infos {
    text-align: left;
  }

  .card-spot-photo-small {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 14px;
    line-height: 100%;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  .weather-over {
    position:initial;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding:0px 10px;
    grid-gap:10px;
    width: fit-content;
    align-items: center;

    span {
      text-align: center;
    }
  }
}




.card-category {
  aspect-ratio: 1/1;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $blue-800;
  font-weight: bold;
  border-radius: $border-radius;
  border:1px solid $blue-200;
  background:$white;
  /*box-shadow: 0 0 15px rgba(0,0,0,0.2);*/

}
.card-category img{
margin-bottom: 4px;
}

.card-category p{
  color: $blue-500;
  font-weight: light;
  font-size: 13px;
  }

.cards {
  display: flex;
  justify-content: space-evenly;
  grid-gap: 16px;
  margin-bottom: 16px;
}

.card-spot-photo-large {
  height: 250px;
  object-fit: cover;
}

.scrolling-wrapper{
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 12px;
  margin-left: 0px;
  padding-right:12px;

  .card {
    width: 90%;
    scroll-snap-align: start;
  }

}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap:12px;
}

.feed-rating-stars i{
  font-size:10px !important;
}
