.favorite-button {
  width:48px;
  height:48px;
  border-radius: 50%;
  background:$white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.favorites-spots .card-show-head {
  margin-top: -20px;
  margin-bottom: 25px;
  padding-top: 25px;
  text-shadow: 3px 3px $blue-200;
}
