.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-active {
 color: $orange !important;
}

.nav-icon {
  width: 30px;
  aspect-ratio: 1/1;
}
