.nav-controls {
  padding:16px;
}

.nav-buttons {
  display:flex;
  background: $blue-200;
  position: relative;
  border-radius: 6px;
}

.nav-button {
  flex:1;
  padding:12px;
  text-align: center;
  z-index: 1;
}

.nav-button-active {
  width: calc(50% - 4px);
  left: 4px;
  top: 4px;
  height: calc(100% - 8px);
  background: white;
  position: absolute;
  z-index: 0;
  border-radius: 4px;
  transition: 0.6s;
}

.map-active {
  left:178px;
}
