.navbar {
  justify-content: space-between;
  border-radius: 24px;
  right: 8px;
  bottom: 36px;
  left: 8px;
  position: fixed;
  height: 56px;
}

.nav-active {
 color: $orange !important;
}

.nav-icon {
  width: 45pxpx;
  aspect-ratio: 1/1;
}
